<!DOCTYPE HTML>
<html>
<head>
    <title>NxNE Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KW2XPR1WW8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KW2XPR1WW8');
    </script>
    
    <style>
        .content-container {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 25vh;
        }
        .content {
            max-width: 600px;
            margin: 0 auto;
        }
    </style>
</head>
<body class="is-preload">
    <div id="wrapper">
        <header id="header">
            <div class="logo">
                <span class="icon fa-home"></span>
            </div>
            <div class="content">
                <div class="inner">
                    <h1>NxNE</h1>
                    <p>We Empower Founders</p>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('brainstorm') }}">MVP: Brainstorm</a></li>
                    <li><a href="{{ url_for('marketmagic') }}">MVP: MarketMagic</a></li>
                    <li><a href="{{ url_for('Coming_Soon') }}">Coming Soon</a></li>
                    <li><a href="{{ url_for('pricing') }}">Pricing</a></li>
                </ul>
            </nav>
        </header>
        <div class="content-container">
            <div class="content">
                <h4>
                    Thank you for supporting NxNE! While our public waitlist was successful, <br>
                    <b>we've decided to pivot to enterprise software.</b>
                </h4>
                <p>
                    ⇗Our initial public MVP Features will remain free above⇗
                </p>
            </div>
        </div>
                <!-- Viral Loops Embed Form -->
                <div>
                    <form-widget ucid='jceTGq7hVsgCfwxuHRWLV0na0pU'></form-widget>
                </div>
        
        <!-- Viral Loops Script -->
        <script type="text/javascript" src="https://app.viral-loops.com/widgetsV2/core/loader.js" data-campaign-id="jceTGq7hVsgCfwxuHRWLV0na0pU" id="viral-loops-loader"></script>
        
        <footer id="footer">
            <p class="copyright">&copy; NxNE2024@gmail.com</p>
        </footer>
    </div>
    <div id="bg"></div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>