<!DOCTYPE html>
<html>
<head>
    <title>Waitlist Success</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
</head>
<body class="is-preload">
    <div id="wrapper">
        <header id="header">
            <div class="logo">
                <span class="icon fa-check"></span>
            </div>
            <div class="content">
                <div class="inner">
                    <h1>Success!</h1>
                    <p>Thank you, {{ name }}. You have been added to the waitlist.</p>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ url_for('tagline_generator') }}">Tagline Generator</a></li>
                    <li><a href="{{ url_for('brainstorm') }}">Brainstorm</a></li>
                    <li><a href="{{ url_for('script_generator') }}">Script Generator</a></li>
                </ul>
            </nav>
        </header>
        <footer id="footer">
            <p class="copyright">&copy; NxNE. All rights reserved.</p>
        </footer>
    </div>
    <div id="bg"></div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
